body {
  background-image: url("./waterRipples.jpg");
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 700px;
  box-shadow: 5px 5px 10px black;
}
.app-container {
  margin: auto;
  width: 700px;
  margin-top: 100px;
  text-align: center;
  color: white;
}
.app-container h1 {
  text-shadow: 3px 3px 5px black;
}
table td,
table th {
  padding: 12px;
}

table tr:nth-child(even) {
  background-color: rgb(91, 133, 42);
}
table tr:nth-child(odd) {
  background-color: gray;
}

table tr:hover {
  /* background-color: rgb(20, 19, 74); */
  background-color: white;
  color: black;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(20, 19, 74);
  color: white;
}

input {
  padding: 5px;
  border-radius: 5px;
  width: 500px;
  margin-bottom: 25px;
  outline: none;
  box-shadow: 5px 5px 10px black;
}
